*{
    margin: auto;
    padding-top: 15px;
}
h1{background-color: rgb(25, 161, 25);
    text-align: center;
    font-family: fantasy;
 font-size: 20px;
 position: fixed;
 top:0px;
left:300px;
width:50%;
}

body{background-color: rgb(151, 73, 9)
}
a:hover{
    color: rgb(204, 7, 7)
}
#img:hover{
    width: 320px;
    height: 320px;
}    
a:link{
 color: rgb(25, 161, 25);
}
p{
    margin: 5px;
    border: 5px solid rgb(25, 161, 25);
    text-align: center;
}
iframe{
    margin: 5px;
    border: 5px solid saddlebrown;
    padding: 12px
}
.cuadro1{
 border: black solid;
 width: 20%;
 height: 20%;
 background-color: rgba(25, 161, 25, 0.9);
 padding: 40px;
 
 font-family: fantasy;
 font-size: 20px;
 position: static;
}
.cuadro2{
 border: black solid;
 width: 20%;
 height: 20%;
 background-color: rgba(41, 218, 25, 0.9);
 padding: 40px;
 
 font-family: fantasy;
 font-size: 20px;
 position: relative;
 top:20px;
 left: 50px;
}
.cuadro3{
image:"imagenes" src="imagenes/xd/FREE.jpg" width="250px" height="250px";
 border:rgba(218, 122, 12, 0.534) solid;
 width: 20%;
 height: 20%;
 background-color: rgba(212, 52, 12, 0.9);
 padding: 40px;
 
 font-family: fantasy;
 font-size: 20px;
 position: fixed;
 bottom:40px;
 right:30px;
}
.cuadro4{
 border: rgba(218, 122, 12, 0.534) solid;
 width: 20%;
 height: 20%;
 background-color: rgba(7, 111, 230, 0.9);
 padding: 40px;
 
 font-family: fantasy;
 font-size: 20px;
 position: absolute;
 top:40px;
 right:40px;
}
#imga:hover{
    transition-duration: 1.5s;
    transition-timing-function: linear;
    transform: rotateY(180deg) scale(1.2);
    filter: grayscale(80%);
    transition-delay: 0.5s;
}
#imgo{
    transition-duration: 1.5s;
    transition-timing-function: linear;
    transform: rotateX(-150deg) scale(1.2);
    filter: invert(85%);
    transition-delay: 0.5s;
    translate: x(800px);
}
